* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "Inter"; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 12rem;
}

.container .header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 50rem;
  height: 10rem;
}

.container .header .header-logo {
  width: 7rem;
  height: 5rem;
  margin: 3rem;
  margin-top: 1.5rem;
}
.container .header .header-logo img {
  max-width: 100%;
  max-height: 100%;
}
.card1 {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 60px;
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
  z-index: 1;
  margin-right: 2rem;
}

.card1 li {
  font-weight: 700;
  font-size: 1rem;
}
.card2 li {
  font-weight: 700;
  font-size: 1rem;
}
.Overcard1 {
  list-style-type: none;
  box-sizing: border-box;
  position: absolute;
  width: 210px;
  height: 60px;
  left: 68.9vw;
  top: 5vw;
  background: #ff7d7d;
  border: 2px solid #232323;
  border-radius: 16px;
  z-index: -1;
}
.card2 {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 60px;
  border: 2px solid black;
  background: rgb(255, 255, 255);
  border-radius: 13px;
  margin-right: 2rem;
}
.Overcard2 {
  list-style-type: none;
  box-sizing: border-box;
  position: absolute;
  width: 210px;
  height: 60px;
  left: 84.9vw;
  top: 5vw;
  background: #ff7d7d;
  border: 2px solid #232323;
  border-radius: 16px;
  z-index: -1;
}

.interface {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  margin-top: 8rem;
}

.interface .timelineup h1 {
  font-weight: 1000;
  font-size: 6rem;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.interface .timelineup h2 {
  font-weight: 1000;
  font-size: 5.83rem;
  position: absolute;
  color: rgb(218, 97, 97);
  left: 30.5vw;
  top: 21.3vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  z-index: -1;
}
/* .interface .timelineup .h2 .span {
	color: #232323; */
/* } */

.interface .interface-button {
  width: 30rem;
  display: flex;
  margin-top: 3rem;
}
.card3 {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 60px;
  font-weight: 800;
  color: #232323;
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
  z-index: 1;
  margin-right: 2rem;
}
.Overcard3 {
  list-style-type: none;
  box-sizing: border-box;
  position: absolute;
  margin-top: 1.9rem;
  width: 13rem;
  height: 60px;
  left: 35.2vw;
  top: 31.5vw;
  background: #757474;
  border: 2px solid #232323;
  border-radius: 16px;
  z-index: -1;
}
.card4 {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 60px;
  color: #232323;
  font-weight: 800;
  border: 2px solid black;
  background: rgb(255, 255, 255);
  border-radius: 13px;
}
.Overcard4 {
  list-style-type: none;
  box-sizing: border-box;
  position: absolute;
  margin-top: 1.9rem;
  width: 13rem;
  height: 3.8rem;
  left: 51vw;
  top: 31.5vw;
  background: #757474;
  border: 2px solid #232323;
  border-radius: 16px;
  z-index: -1;
}
.info .info-title .info-timelineup {
  color: #232323;
  display: flex;
  position: absolute;
  top: 900px;
  left: 11.18%;
  right: 67.92%;
  height: 65px;

  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;

  color: #474747;
}

.info .info-description .description {
  position: absolute;
  height: 96px;
  left: 11.18%;
  right: 43.06%;
  text-align: left;
  /* text-align-last: left; */
  top: 990px;
  font-style: normal;
  font-weight: 450;
  font-size: 22px;
  line-height: 24px;

  color: #474747;
}
.download .download-button .download-front {
  box-sizing: border-box;

  position: absolute;
  height: 61px;
  left: 11.18%;
  right: 73.48%;
  top: 1100px;

  background: #ffffff;
  border: 2.5px solid #000000;
  border-radius: 15px;
}

.download .download-button .download-back {
  box-sizing: border-box;

  position: absolute;
  height: 61px;
  left: 12.6%;
  right: 73.02%;
  top: 1110px;

  background: #979797;
  border: 1px solid #000000;
  border-radius: 15px;
}

.mobileimg-1 img {
  height: 45rem;
  width: 45rem;
  margin-top: 13rem;
  margin-left: 50rem;
  display: absolute;
  z-index: 1;
}

.mobileimg-bgr {
  position: absolute;
  height: 411px;
  left: 62.04%;
  right: 9.92%;
  top: 977px;
  display: absolute;
  z-index: -1;

  background: #ff7d7d;
  filter: blur(216px);
}

.about .about-timelineup h1 {
  position: absolute;
  width: 1389.57px;
  height: 65px;
  right: 23rem;
  left: 12rem;
  top: 98rem;

  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #474747;
}

div.timelineup-description .description {
  position: absolute;
  height: 92px;
  left: 40rem;
  top: 105rem;
  right: 7rem;

  text-align: left;
  font-style: normal;
  font-weight: 450;
  font-size: 22px;
  line-height: 24px;
  color: #474747;
}

.mobileimg-2 img {
  position: absolute;
  display: inline-block;
  width: 73%;
  height: 100%;
  right: 28%;
  top: 160%;
  transform: translateY(-50%) rotate(10deg);
  max-width: 100%;
}
